.agent_title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}
.agent_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    margin-top: 22px;
}