.input {
    width: 230px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0 3px;
    font-family: Roboto;
    font-size: 13px;
    padding-left: 25px;
    margin-top: 10px;
    outline: none;
    &_modal {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}